{{> navbar }}
<div class="container">
  <div class="card mb-3 ml-auto mr-auto" style="max-width: 700px;">
    <div class="row no-gutters">
      
        <img src="/img/aboutMe.JPG" class="card-img mr-auto ml-auto mt-3" alt="portrait" style="width:300px; border-radius:80%;">
      
        <div class="card-body"style="font-size: 20px;">
          <p class="card-text">Hello and Welcome!</p>
          <p class="card-text"> I am a Full Stack web developer aiming to 
            build user friendly and intuitive experiences on the web. Before coding 
            I worked as a Quality Assurance Engineer for startups and middle size companies in San Francisco.
            When designing a front-end project I strive for a good user experience considering the diversity of users who will use it.
            When approaching the backend, I focus on creating quality products that translate to responsive front-end environments. 
            I enjoy collaborating with teams to design products that enhance the lives of others. 
            In my free time, I enjoy traveling, hiking and exploring new restaurants with my friends.
          </p>
          <p>Front-end: JavaScript | React | HTML | CSS | Git</p>
          <p>Back-end: NodeJs | Express | MongoDB | MySQL | PostgreSQL</p>
        </div>
      
    </div>
  </div>
</div>