{{> navbar }}
<div class="container">
 <div class="card ml-auto mr-auto" style="max-width: 45rem; margin: 15px 16px;">
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <hr/>
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="name" placeholder="John Krasinski">
          </div>
          <div class="form-group">
            <label for="Email1">Email</label>
            <input type="email" class="form-control" id="Email1" placeholder="gmail@gmail.com">
            
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="Message" placeholder="Enter your message here" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color: #33CEC4; border: none;">Submit</button>
        </form>
      </div>
          
      <div class="ml-auto mr-auto mb-2">
        <a href="https://www.linkedin.com/in/liza/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://github.com/liza-p" class="fa  fa-github" target="_blank"></a>
        <a href="#" class="fa  fa-instagram" target="_blank"></a>
      </div>
    
    </div>
  
  </div>
     